<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         stopOnError="false"
         stopOnRisky="false"
         stopOnSkipped="false"
         stopOnIncomplete="false"
>
    <testsuites>
        <!-- Unit Tests - All unit tests -->
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <exclude>tests/Unit/App/Controllers/AddressControllerTest.php</exclude>
        </testsuite>
        
        <!-- Feature Tests - Full integration tests -->
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        
        <!-- Integration Tests - Multi-component tests -->
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        
        <!-- Coverage Tests - White-box testing -->
        <testsuite name="Coverage">
            <directory>tests/Coverage</directory>
            <exclude>tests/Coverage/ControlFlow/</exclude>
            <exclude>tests/Coverage/DataFlow/</exclude>
        </testsuite>
        
        <!-- Performance Tests -->
        <testsuite name="Performance">
            <directory>tests/Performance</directory>
        </testsuite>
        
        <!-- E2E Tests - End-to-end tests -->
        <testsuite name="E2E">
            <directory>tests/E2E</directory>
        </testsuite>
        
        <!-- Integration Tests -->
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        
        <!-- Coverage Tests -->
        <testsuite name="Coverage">
            <directory>tests/Coverage</directory>
        </testsuite>
        
        <!-- All Tests -->
        <testsuite name="All">
            <directory>tests</directory>
            <exclude>tests/Feature/ExampleTest.php</exclude>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <!-- Use MySQL for testing -->
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="hanaya_shop_demo"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="123456"/>
        <!-- Use separate storage for testing to avoid deleting demo images -->
        <env name="FILESYSTEM_DISK" value="testing"/>
        <env name="MAIL_MAILER" value="smtp"/>
        <env name="MAIL_FROM_ADDRESS" value="taile13092k5@gmail.com"/>
        <env name="MAIL_FROM_NAME" value="Hanaya Shop"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="file"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>